# BD
DB_HOST=localhost
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=YourStrong@Passw0rd
DB_NAME=planilla_obrera

SA_PASSWORD=YourStrong@Passw0rd

# API
API_PORT=4000
JWT_SECRET=random_string
JWT_EXPIRES_SECONDS=28800
WEB_ORIGIN=http://localhost:3000

# Web
NEXT_PUBLIC_API_URL=http://localhost:4000
